@namespace Blazorise.DataGrid
@inherits BaseComponent
@typeparam TItem

<div class="m-2" style="max-width: 340px">
	<h6>Filter By</h6>

	<ul class="list-unstyled mt-1 mb-2">

		@foreach (var column in FilterableColumns.Where(x => x.Filter.IsVisible == true).OrderBy(x => x.Filter.lastFilteredDate))
		{
			<li>

				<DataGridFilterItem TItem="TItem"
								DidClickRemove="@(() => DidRemoveFilterItem(column))"
								OnFocusOut="FilterResultsCommand"
								Column="@column"
								OnChange="FilterResultsCommand"
								OnInputEnter="@(async (KeyboardEventArgs args) => await OnFilterItemEnter(args))" />
			</li>
		}
	</ul>

	
		<Button Class="clear-btn mb-2 mt-2 d-block" @onclick="OnAddFilterClicked">
			<i class="fas fa-plus"> Filter...</i>
		</Button>
		@if (ShowFilterInput)
		{
			<Select TValue=string Style="max-width:350px; display:block;" SelectedValueChanged=OnFilterValueChanged @onfocusout="ClickOutsideFocus">
				<SelectItem TValue=string Value="null">--Please Select--</SelectItem>
				@foreach (var item in FilterableColumns)
			{
				<SelectItem TValue=string Value="@item.ElementId">@(item.Caption)</SelectItem>
			}

		</Select>
		}
	

</div>

@{
	<style>
		.icon-button {
			background-color: transparent;
			border: none; /* Remove borders */
			padding: 4px;
		}
	</style>
}

