@namespace Blazorise
@inherits BaseComponent

<div class="d-flex m-2 commandbaritem">

	@if (!string.IsNullOrEmpty(PrefixIcon))
	{
		<button type="submit" disabled="@(!IsEnabled)" @onclick="@(async () => await OnClick(Id))">
			<span>
				<Icon Name="@PrefixIcon" />
				<span class="commandbaritem-title">@Title</span>
			</span>
		</button>
	}
	else
	{
		<button type="submit" disabled="@(!IsEnabled)" @onclick="@(async () => await OnClick(Id))">
			<span>
				@{
					object icon = Title switch 
					{
						"Add" => IconName.Add,
						"New" => IconName.Add,
						"Cancel" => IconName.Clear,
						"Delete" => IconName.Delete,
						"Update" => IconName.Save,
						"Upload" => IconName.FileUpload,
						"Download" => IconName.Download,
						"Filter" => IconName.Filter,
						"View" => IconName.Square,
						"CSV" => IconName.LaptopCode,
						"PDF" => IconName.FilePdf,
						"Print" => IconName.Print,
						"Edit" => IconName.Edit,
						_ => Title
					};
				}
				<Icon Name="@icon" />
				<span class="commandbaritem-title">@Title</span>
			</span>
		</button>
	}


</div>



